[alias]
  so = show --pretty='%C(green)%p%Creset <- %C(red)%h%Creset%C(bold yellow)%d%Creset%n%n%w(72,2,2)%B%n%w(72,0,0)%C(dim white)%an%Creset on %C(dim white)%as%Creset'
  doc = "!f() { git show --no-patch --pretty=\"# %s%n%n%b%n> %an on _%as_\" ${1-HEAD} | glow; }; f"
  lg = log --graph --decorate --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lga = log --graph --decorate --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --all
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  dc = diff --cached
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  ls = ls-files
  ls-ignored = ls-files -o -i --exclude-standard
  ignore = update-index --assume-unchanged
  unignore = update-index --no-assume-unchanged
[core]
  editor = nvim  # nano
  pager = delta
[grep]
  lineNumber = true
  patternType = perl
[user]
  name = Gustav Rasmussen
  email = TheNewThinkTank@users.noreply.github.com
[diff]
  algorithm = histogram
